.header {
    background-image: url(../images/LOG-29.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    nav {
        div {
            a {
                img {
                    width: 100px;
                    height: 50px;
                }
            }
        }
    }
}