.header {
    background-image: url(../images/LOG-29.png);

    nav {
        div {
            a {
                img {
                    width: 100px;
                    height: 50px;
                }
            }

            button {}

            div {
                div {
                    a {}
                }
            }
        }
    }
}