/* ------------------------------------------------SERVICIOS------------------------------------------------ */
@import '../base/mapas';
@import '../base/mixin';
@import './mediaq';


.servicios-digitales {
    h1 {
        @include flex (flex, center, center);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: map-get($titulo,borde );
        border: 2px black solid;
        color: white;
        width: 100%;
        margin-top: 20px;
        background-image: url(../images/LOG-31.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    h2 {
        margin: 20px;
    }

    p {
        margin: 20px;
    }
}

.diseño-grafico {
    margin: 20px;

    h2 {
        display: flex;
        justify-content: end;
    }

    ul {
        display: flex;
        justify-content: end;

        li {
            list-style: circle;
        }
    }

    .diseño-grafico-arte {

        display: flex;
        flex-direction: row-reverse;
    }



}

.diseño-grafico-web {

    flex-direction: column-reverse;

}